.translate-x-0	    {transform: translateX(0);}
.translate-x-1	    {transform: translateX(0.25rem);}
.translate-x-2	    {transform: translateX(0.5rem);}
.translate-x-3	    {transform: translateX(0.75rem);}
.translate-x-4	    {transform: translateX(1rem);}
.translate-x-5	    {transform: translateX(1.25rem);}
.translate-x-6	    {transform: translateX(1.5rem);}
.translate-x-8	    {transform: translateX(2rem);}
.translate-x-10	    {transform: translateX(2.5rem);}
.translate-x-12	    {transform: translateX(3rem);}
.translate-x-16	    {transform: translateX(4rem);}
.translate-x-20	    {transform: translateX(5rem);}
.translate-x-24	    {transform: translateX(6rem);}
.translate-x-32	    {transform: translateX(8rem);}
.translate-x-40	    {transform: translateX(10rem);}
.translate-x-48	    {transform: translateX(12rem);}
.translate-x-56	    {transform: translateX(14rem);}
.translate-x-64	    {transform: translateX(16rem);}
.translate-x-px	    {transform: translateX(1px);}
.-translate-x-1	    {transform: translateX(-0.25rem);}
.-translate-x-2	    {transform: translateX(-0.5rem);}
.-translate-x-3	    {transform: translateX(-0.75rem);}
.-translate-x-4	    {transform: translateX(-1rem);}
.-translate-x-5	    {transform: translateX(-1.25rem);}
.-translate-x-6	    {transform: translateX(-1.5rem);}
.-translate-x-8	    {transform: translateX(-2rem);}
.-translate-x-10	  {transform: translateX(-2.5rem);}
.-translate-x-12	  {transform: translateX(-3rem);}
.-translate-x-16	  {transform: translateX(-4rem);}
.-translate-x-20	  {transform: translateX(-5rem);}
.-translate-x-24	  {transform: translateX(-6rem);}
.-translate-x-32	  {transform: translateX(-8rem);}
.-translate-x-40	  {transform: translateX(-10rem);}
.-translate-x-48	  {transform: translateX(-12rem);}
.-translate-x-56	  {transform: translateX(-14rem);}
.-translate-x-64	  {transform: translateX(-16rem);}
.-translate-x-px	  {transform: translateX(-1px);}
.-translate-x-full	{transform: translateX(-100%);}
.-translate-x-1\/2	  {transform: translateX(-50%);}
.translate-x-1\/2	  {transform: translateX(50%);}
.translate-x-full	  {transform: translateX(100%);}
.translate-y-0	    {transform: translateY(0);}
.translate-y-1	    {transform: translateY(0.25rem);}
.translate-y-2	    {transform: translateY(0.5rem);}
.translate-y-3	    {transform: translateY(0.75rem);}
.translate-y-4	    {transform: translateY(1rem);}
.translate-y-5	    {transform: translateY(1.25rem);}
.translate-y-6	    {transform: translateY(1.5rem);}
.translate-y-8	    {transform: translateY(2rem);}
.translate-y-10	    {transform: translateY(2.5rem);}
.translate-y-12	    {transform: translateY(3rem);}
.translate-y-16	    {transform: translateY(4rem);}
.translate-y-20	    {transform: translateY(5rem);}
.translate-y-24	    {transform: translateY(6rem);}
.translate-y-32	    {transform: translateY(8rem);}
.translate-y-40	    {transform: translateY(10rem);}
.translate-y-48	    {transform: translateY(12rem);}
.translate-y-56	    {transform: translateY(14rem);}
.translate-y-64	    {transform: translateY(16rem);}
.translate-y-px	    {transform: translateY(1px);}
.-translate-y-1	    {transform: translateY(-0.25rem);}
.-translate-y-2	    {transform: translateY(-0.5rem);}
.-translate-y-3	    {transform: translateY(-0.75rem);}
.-translate-y-4	    {transform: translateY(-1rem);}
.-translate-y-5	    {transform: translateY(-1.25rem);}
.-translate-y-6	    {transform: translateY(-1.5rem);}
.-translate-y-8	    {transform: translateY(-2rem);}
.-translate-y-10	  {transform: translateY(-2.5rem);}
.-translate-y-12	  {transform: translateY(-3rem);}
.-translate-y-16	  {transform: translateY(-4rem);}
.-translate-y-20	  {transform: translateY(-5rem);}
.-translate-y-24	  {transform: translateY(-6rem);}
.-translate-y-32	  {transform: translateY(-8rem);}
.-translate-y-40	  {transform: translateY(-10rem);}
.-translate-y-48	  {transform: translateY(-12rem);}
.-translate-y-56	  {transform: translateY(-14rem);}
.-translate-y-64	  {transform: translateY(-16rem);}
.-translate-y-px	  {transform: translateY(-1px);}
.-translate-y-full	{transform: translateY(-100%);}
.-translate-y-1\/2	  {transform: translateY(-50%);}
.translate-y-1\/2	  {transform: translateY(50%);}
.translate-y-full	  {transform: translateY(100%);}
